.home-body {
  .home-title {
    position:absolute;
    top: 5%;
    left: 10%;

    h1 {
      font-size: 90px;
      @media (max-width: 768px) {
        font-size: 70px;
      }
      font-weight: bold;
      margin-top: 1px;
    }
    h2 {
      margin-left: 50px;
      margin-bottom: -15px;
      font-size: 40px;
      @media (max-width: 768px) {
        font-size: 30px;
      }
      font-weight: bold;
    }

  }
  .home-quote {
    position:absolute;
    top: 50%;
    //left: 30%;
    @media (min-width: 768px) {
       left:30%
    }
    @media (min-width: 991px) {
      left: 40%
    }
    @media (min-width: 1199px) {
      left: 50%
    }


    h3 {
      font-size: 20px;
      font-weight: lighter;
      font-style: italic;
    }
  }
}

