.howto-body {
  .howto-arrow-up {
    position: absolute;
    top:5%;
    left:50%;
    cursor:pointer;
  }
  .howto-arrow-down {
    position: absolute;
    bottom:5%;
    left:50%;
    cursor:pointer;
  }
}
