.statement-body {
  .statement-title {
    position:absolute;
    top: 5%;
    left: 10%;

    h1 {
      font-size: 90px;
      font-weight: bold;
      margin-top: 1px;
    }
    h2 {
      margin-left: 50px;
      margin-bottom: -15px;
      font-size: 40px;
      font-weight: bold;
    }

  }
  .statement-quote {
    position:absolute;
    top: 50%;
    left: 50%;
    h3 {
      font-size: 20px;
      font-weight: lighter;
      font-style: italic;
    }
  }
  .statement-arrow-up {
    position: absolute;
    top:5%;
    left:50%;
    cursor:pointer;
  }
  .statement-arrow-down {
    position: absolute;
    bottom:5%;
    left:50%;
    cursor:pointer;
  }
}