@import 'vars';

.statement-body {
  color: $font-color--dark;

  .statement-arrow-down {
    color: $font-color--light;
  }
  .statement-title {
    position:absolute;
    top: 5%;
    left: 10%;

    h1 {
      font-size: 90px;
      font-weight: bold;
      margin-top: 1px;
    }
    h2 {
      margin-left: 50px;
      margin-bottom: -15px;
      font-size: 40px;
      font-weight: bold;
    }
  }
}