//body {
//  .body-statement {
//    padding: 3em;
//    margin: 0;
//    //background-size: 1920px 1280px;
//    background: url(../images/wall_2_1920.jpg) no-repeat;
//    background-size: 100%;
//    color: white;
//    display: block;
//    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
//  }
//}
//
