<div class="modal">
    <div ng-if="modal.data.status != 'error'" class="modal-header">
        <h3 class="modal-title upper">{{modal.data.title}}</h3>
    </div>
    <div class="modal-body col-xs-12 center-block">
        <div ng-if="modal.data.status == 'error'">
            <hr>
        </div>
        <div ng-if="modal.data.status == 'success'">

            <hr>
        </div>
        <div ng-if="modal.data.status == 'confirm'">
            <hr>
        </div>
        <div>
            <h3 class="text-center">{{modal.data.message}}</h3>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="modal.data.status != 'success' && modal.data.status != 'error'" class="btn btn-default btn-lg text-uppercase" ng-click="modal.cancel()">
            <i class="fa fa-times"></i> Cerrar</button>
        <button class="btn btn-default btn-lg text-uppercase" ng-click="modal.ok()">
            <i class="fa fa-chevron-circle-right"></i> Acceptar</button>
    </div>

</div>