<div class="container grid-body">
    <div class="grid-header">
        <div class="col-xs-12 panel panel-default">
            <div class="col-xs-12 col-lg-6">
                <h1>{{grid.title}}</h1>

            </div>
            <div class="col-xs-12 col-lg-6">
                <search></search>
            </div>
        </div>
    </div>

    <div class="grid-center row-fluid clearfix">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" ng-repeat="match in grid.matchs">
            <div class="panel panel-default">
                <div class="panel-heading">{{match.title}}</div>
                <div class="panel-body text-center">
                    <h3>{{match.team1.name}}</h3>
                    <h1>VS</h1>
                    <h3>{{match.team2.name}}</h3>
                    <button class="btn btn-default btn-success" type="button" ng-click="grid.openModal(match)" tooltip="Send Text"><i class="glyphicon glyphicon-info-sign"></i> More..</button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-footer">
        <div class="col-xs-12 col-lg-6">
        <timeline></timeline>
            </div>
    </div>
</div>