<div class="container home-body">
  <div class="layer1" background-image
       data-background-src="../images/wall_1_1920.jpg"></div>

  <div class="home-title">
    <h2>{{home.subtitle}}</h2>
    <h1>{{home.title}}</h1>
    <div class="home-title2">
      <h4>{{home.title2}}</h4>
    </div>
  </div>

  <div class="home-quote">
    <h3>
      <i class="fa fa-quote-left"></i>
      Don't trust your gut, just trust the data.
      <i class="fa fa-quote-right"></i>
    </h3>
  </div>

  <div class="arrow-down"  ng-click="home.buttonClick()">
    <h1 class="heading -xl"><i class="fa fa-arrow-down"></i></h1>
  </div>

</div>
