<div class="container statistics-body">
    <div class="layer1" background-image
         data-background-src="../images/wall_4_1920.jpg"></div>
    <h1 class="heading -large">{{statistics.title}}</h1>

    <h3 class="heading -medium">{{statistics.content}}</h3>

    <div class="arrow-up"  ng-click="statistics.arrowUp()">
        <h1 class="heading -xl"><i class="fa fa-arrow-up"></i></h1>
    </div>

    <div class="arrow-down"  ng-click="statistics.arrowDown()">
        <h1 class="heading -xl"><i class="fa fa-arrow-down"></i></h1>
    </div>
</div>